<!DOCTYPE html>
<html>
    <head>
        <title>Layout Adaptável e Responsivo</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link href="css/estilo.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <h1>Layout Adaptável e Responsivo</h1>
        <h2>Utilizando CSS Media Queries</h2>
        <header>
            <p id="medidas">Largura:<span id="largura"></span> Altura:<span id="altura"></span></p>
            <p class="horizontal">Modo paisagem</p>
            <p class="vertical">Modo Retrato</p>
            <script src="js/medidas.js"></script>
        </header>
    </body>
</html>
