/* 
    Created on : 20/10/2014, 15:59:28
    Author     : Driely Z.
*/
body{background-color: black;
     color: white;
}
@media screen and (orientation: portrait){
    /*Modo Retrato - vertical*/
    .horizontal{display: none;}
    .vertical{display: block;}
} 
@media screen and (orientation: landscape){
    /*Modo paisagem - horizontal*/
    .horizontal{display: block;}
    .vertical{display: none;}
} 
@media screen and (min-width: 1280px){
    section{
        display: block;
        margin: 0 auto;
        width: 1230px;
        border: 2px white solid;
        padding-left: 50px;
    }
    figure{
        width: 390px;
        height: 300px;
        float: left;
        border: 2px white solid;
        margin:5px;
    }
    
}

@media screen and (min-width: 800px) and (max-width: 1279px){
  section{
        display: block;
        margin: 0 auto;
        width: 800px;
        border: 4px chartreuse solid;
        padding-left: 50px;
    }
    figure{
        width: 350px;
        height: 280px;
        float: left;
        border: 2px white solid;
        margin:5px;
    }

}
@media screen and (max-width: 799px){
  section{
        display: block;
        margin: 0 auto;
        width: 800px;
        border: 4px yellow solid;
        padding-left: 50px;
    }
    figure{
        width: 600px;
        height: auto;
        float: left;
        border: 2px white solid;
        margin:5px;
    }
}
    img{
        width: 90%;
        height: 90%;
        display: block;
        margin: 5% auto;
    }
    figcaption{
        background-color: rgba(240,240,240,0.4);
        color: black;
        height: 30px;
        position: relative;
        bottom: 50px;
        text-align: center;
        width: 95%;
        margin: 0auto;
        transition: 0.5s;
    }

.final {
clear: both;
}

figcaption a{text-decoration: none; color: red;}
figcaption a:hover{color: yellow; }
figcaption:hover{background-color: rgba(0,0,0,0.4); transition: 1s;}